@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/bulma";

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}
